
@{
    ViewBag.Title = "Index";
}

<h1>heading1</h1>
<h2>Index</h2>
<h3>test</h3>


<p>
    12312313<br />
    12<br />
    31<br />
    312<br />
    31<br />
    1<br />
    31<br />
    134564<br />
    <u>alice</u>
    test<br />
</p>

@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
    <div>
        帳號:@Html.TextBox("account") <br />
        密碼:@Html.Password("password") <br />
        年齡:@Html.TextBox("age")<br />
        性別:@Html.RadioButton("gender", "A")男生
        @Html.RadioButton("gender", "B") 女生<br />
        興趣:@Html.CheckBox("reading", "A")看書
        @Html.CheckBox("swimming", "B")游泳<br />
        關於我:@Html.TextArea("about")
    </div>
}
